footer.footer
  .holder
    .brand
      img(src="assets/logo-white.png", alt="Logo White")
    .links
      ul
        li: a(href="") About Us
        li: a(href="") Customer Service
        li: a(href="") Privacy Policy
        li: a(href="") Site Map
        li: a(href="") Search Terms
        li: a(href="") Advanced Search
        li: a(href="") Orders and Returns
        li: a(href="") Contact Us
        li: a(href="") Shipping & Returns
        li: a(href="") Secure Shopping
        li: a(href="") International Shipping
        li: a(href="") Affiliates
        li: a(href="") Group Sales
        li: a(href="") Sign In
        li: a(href="") Sign In
        li: a(href="") My Wishlist
        li: a(href="") Track My Order
        li: a(href="") Help
    .subscribe
      p.caption Newsletter signup
      p.info Sign up for our e-mail and be the first who know our special offers! Furthermore, we will give a 15% discount on the next order after you sign up.
      .input
        input(type="text")
        input(type="submit", value="subscribe")
  .copy
    p &copy; 2018. All rights reserved


