header.header
  .header__brand
    a(href="")
      img(src="assets/logo.jpg", alt="Logo")
  .header__nav
    ul
      li: a(href="", class="btn-link") Home
      li: a(href="", class="btn-link") Shop
      li: a(href="", class="btn-link") Blog
      li: a(href="", class="btn-link") Collection
      li: a(href="", class='btn-default') Buy theme
  .header__cta
    a(href="")
      i
        fa(name='search')
    a(href="")
      i
        fa(name='user')
    a(href="")
      i
        fa(name='shopping-cart')
    a(href="")
      i
        fa(name='cog')
