.showcase
  .showcase__daily
    .item(class="white")
      p(class="black") Watches
    .item(class="deepblue")
      p Trackers
    .item(class="lightblue")
      p Headphones
  .showcase__premium
    .item(class="theme")
      p Earphones
